/target
assets/63-hdri-cosmos-skyboxes-01.jpg
assets/skybox.hdr
assets/sky_17_2k/sky_17_2k.png
assets/sky_17_2k/sky_17_cubemap_2k/cubemap_layout.png
assets/sky_17_2k/sky_17_cubemap_2k/nx.png
assets/sky_17_2k/sky_17_cubemap_2k/ny.png
assets/sky_17_2k/sky_17_cubemap_2k/nz.png
assets/sky_17_2k/sky_17_cubemap_2k/px.png
assets/sky_17_2k/sky_17_cubemap_2k/py.png
assets/sky_17_2k/sky_17_cubemap_2k/pz.png
